asgiref==3.7.2
Django==3.2.7
djangorestframework==3.14.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
django-cors-headers==4.0.0
O365==2.0.27
SharePlum==0.5.1
bcrypt==4.0.1
boto3==1.17.0
PyInstaller==6.4.0
openpyxl==3.1.2
gunicorn==20.1.0