<!DOCTYPE html>

<head>
  <style>
    .table,
    .newtable {
      border-collapse: collapse;
      width: 80%;
    }

    .table th,
    .table td,
    .newtable th,
    .newtable td {
      border: 1px solid #ddd;
      padding: 6px;
      text-align: left;
      box-sizing: border-box;
      width: 100px;
      /* 設置固定的寬度 */
      height: 40px;
      /* 設置固定的高度 */
    }

    .table th,
    .newtable th {
      background-color: #f2f2f2;
      font-size: 14px;
    }

    .table td,
    .newtable td {
      font-size: 12px;
    }

    .table tr td:nth-child(1) {
      width: calc(2%);
    }

    .table tr td:nth-child(2),
    .newtable tr td:nth-child(1) {
      width: calc(18%);
      height: 40px;
    }

    .table tr td:nth-child(3),
    .newtable tr td:nth-child(2) {
      width: calc(10%);
      height: 40px;
    }

    .table tr td:nth-child(4),
    .newtable tr td:nth-child(3) {
      width: calc(8%);
      height: 40px;
    }

    .table tr td:nth-child(5),
    .newtable tr td:nth-child(4) {
      width: calc(12%);
      height: 40px;
    }

    .table tr td:nth-child(6),
    .newtable tr td:nth-child(5) {
      box-sizing: border-box;
      width: calc(15%);
      height: 40px;
    }

    .table tr td:nth-child(7),
    .newtable tr td:nth-child(6) {
      box-sizing: border-box;
      width: calc(8%);
      height: 40px;
    }

    .table tr td:nth-child(8),
    .newtable tr td:nth-child(7) {
      box-sizing: border-box;
      width: calc(8%);
      height: 40px;
    }

    .table tr td:nth-child(9),
    .newtable tr td:nth-child(8) {
      box-sizing: border-box;
      width: calc(8%);
      height: 40px;
    }

    .table tr td:nth-child(10),
    .newtable tr td:nth-child(9) {
      box-sizing: border-box;
      width: calc(15%);
      height: 40px;
    }

    .input[type="text"] {
      width: 75%;
    }


    .pagination {
      list-style: none;
      padding: 0;
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }

    .pagination li {
      display: inline-block;
      margin: 0 5px;
    }

    .pagination li a {
      display: block;
      padding: 6px 10px;
      text-decoration: none;
      background-color: #f2f2f2;
      color: #333;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .pagination li.current a {
      background-color: #333;
      color: #fff;
    }
  </style>
</head>

<body>
  <select id="mySelect">
    <option value="option1">改數值</option>
    <option value="option2">查詢</option>
    <option value="option3">刪除 / status</option>
  </select>
  <button id="confirmButton">確認</button>
  <button id="add">add</button>
  <div id="tableContainer"></div>
  <div id="paginationContainer"></div>
  <button id="conButton">變成格子</button>
  <script>

  </script>
  <script>
    // 監聽確認按鈕的點擊事件
    document.getElementById("confirmButton").addEventListener("click", function () {
      // 取得下拉選單的值
      const selectedValue = document.getElementById("mySelect").value;

      // 執行需要的操作
      console.log("選擇的值:", selectedValue);
    });




    let selectedData = [];
    // 抓數據刷新表格
    function getDataAndUpdateTable(u, pageSize) {
      const data = u;
      // 抓div創建表格
      const tableContainer = document.getElementById("tableContainer");

      // 清空表單
      tableContainer.innerHTML = "";
      // 創建表
      const table = document.createElement("table");
      table.classList.add("table");

      // 創建表頭
      const thead = document.createElement("thead"); //表頭
      const headerRow = document.createElement("tr"); //tr換列 th掌管行 td格

      // 創建全選框
      const selectAllCheckbox = document.createElement("input");
      selectAllCheckbox.type = "checkbox";
      selectAllCheckbox.id = "selectAllCheckbox";
      selectAllCheckbox.addEventListener("change", function () {
        const checkboxes = tableContainer.querySelectorAll("input[type='checkbox'][data-row='checkbox']"); //每個列的框框
        checkboxes.forEach(checkbox => {
          checkbox.checked = selectAllCheckbox.checked; // 將每個 checkbox 的狀態調整為全選框一致

          const rowData = getRowDataFromCheckbox(checkbox);

          if (checkbox.checked) {
            const isDuplicate = selectedData.some(item => JSON.stringify(item) === JSON.stringify(rowData));
            if (!isDuplicate) {
              selectedData.push(rowData); // 將選中的資料加入 selectedData 陣列
            }
          } else {
            const index = selectedData.findIndex(item => JSON.stringify(item) === JSON.stringify(rowData));
            if (index > -1) {
              selectedData.splice(index, 1); // 從 selectedData 陣列中移除取消選中的資料
            }
          }
        });
        console.log(selectedData);
      });

      const selectAllTh = document.createElement("th");
      selectAllTh.appendChild(selectAllCheckbox);
      headerRow.appendChild(selectAllTh);

      const headers = Object.keys(data[0]);
      //headers = document.getElementById("headers");
      //console.log(headers)
      headers.forEach(header => {
        const th = document.createElement("th");
        th.textContent = header;
        headerRow.appendChild(th);
      });

      const active = document.createElement("th");
      active.textContent = "active"
      headerRow.appendChild(active);
      thead.appendChild(headerRow);

      table.appendChild(thead);

      // 創建表格主體
      const tbody = document.createElement("tbody");
      data.forEach(rowData => {
        const row = document.createElement("tr");

        // 創建行複選框
        const rowCheckbox = document.createElement("input");
        rowCheckbox.type = "checkbox";
        rowCheckbox.dataset.row = "checkbox";
        rowCheckbox.addEventListener("change", function () {
          rowData = getRowDataFromCheckbox(rowCheckbox);
          if (rowCheckbox.checked) {  //check就是選中
            const isDuplicate = selectedData.some(item => JSON.stringify(item) === JSON.stringify(rowData));
            if (!isDuplicate) {
              selectedData.push(rowData); // 將選中的資料加入 selectedData 陣列
            }
          } else {
            const index = selectedData.findIndex(item => JSON.stringify(item) === JSON.stringify(rowData));  //findindex查找方法  如果(index > -1)則表示有找到
            if (index > -1) {
              selectedData.splice(index, 1);  //這裡的1為索引到的1個  splice移除
            }
          }
          const checkboxes = tableContainer.querySelectorAll("input[type='checkbox'][data-row='checkbox']:not(#selectAllCheckbox)");
          const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
          selectAllCheckbox.checked = allChecked;
          console.log(selectedData);
        });

        const selectRowTd = document.createElement("td");
        selectRowTd.appendChild(rowCheckbox);
        row.appendChild(selectRowTd);

        headers.forEach(header => {
          const cell = document.createElement("td");
          const cellContent = document.createElement("span"); //分配每一格
          cellContent.textContent = rowData[header];
          cell.appendChild(cellContent);
          row.appendChild(cell);
        });
        console.log(row);
        const changebutton = document.createElement("button");
        changebutton.textContent = "change";
        changebutton.addEventListener("click", function () {
          const change = row.querySelectorAll(("span:not([style='display: flex; gap: 10px;'])"))
          change.forEach(cell => {
            /*
            const parent = cell.parentElement;
            console.log(parent);
            if (parent.tagName === "span") {
              parent.remove(); // 移除父節點（<td> 元素）
              console.log("++");  
            }
            */
            const cellContent = cell.textContent;
            cell.textContent = "";
            // 創建輸入框元素
            const input = document.createElement("input");
            input.type = "text";
            input.style.width = "70px"; // 調整輸入框寬度
            input.value = cellContent; // 將原本的內容設定為輸入框的值
            // 將輸入框添加到單元格
            cell.appendChild(input);
          });
          const correct = row.querySelectorAll("button")
          correct.forEach(button => {
            button.remove(); //  移除按鈕元素
          });
          const change1 = row.querySelectorAll("span[style='display: flex; gap: 10px;']");
          change1.forEach(span => {
            span.appendChild(confirmbutton);
          });
          console.log(row);
        });
        row.appendChild(changebutton);

        const confirmbutton = document.createElement("button");
        confirmbutton.textContent = "confirm";
        confirmbutton.addEventListener("click", function () {
          const confirm = tableContainer.querySelectorAll("input[type='text']")
          console.log(confirm);
          confirm.forEach(input => {
            const cell = input.parentElement;
            const cellContent = document.createElement("span");
            cellContent.textContent = input.value; // 將輸入框的值設定為單元格內容

            cell.textContent = ""; // 清空單元格內容

            cell.appendChild(cellContent); // 將單元格內容設定為 cellContent 元素
          });
          const change1 = row.querySelectorAll("span[style='display: flex; gap: 10px;']");
          change1.forEach(button => {
            confirmbutton.remove();
            button.appendChild(changebutton);
            button.appendChild(deletebutton);
          });

        });
        const deletebutton = document.createElement("button");
        deletebutton.textContent = "delete";
        deletebutton.addEventListener("click", function () {
        });
        row.appendChild(deletebutton);
        // 添加額外的 span 元素來實現水平排放
        const buttonContainer = document.createElement("span");
        buttonContainer.style.display = "flex";
        buttonContainer.style.gap = "10px";
        buttonContainer.appendChild(changebutton);
        buttonContainer.appendChild(deletebutton);

        const actionCell = document.createElement("td");
        actionCell.appendChild(buttonContainer);
        row.appendChild(actionCell);
        console.log(row);
        tbody.appendChild(row);

      });

      // 創建新增列
      const addRow = document.createElement("tr");
      const checkboxCell = document.createElement("td");
      const checkbox = document.createElement("input");
      checkbox.type = "checkbox";
      checkbox.dataset.row = "checkbox";
      checkboxCell.appendChild(checkbox);
      addRow.appendChild(checkboxCell);
      headers.forEach((header, index) => {
        const cell = document.createElement("td");
        const input = document.createElement("input");
        input.type = 'text';
        input.style.width = "70px"; // 調整輸入框寬度
        cell.appendChild(input);
        addRow.appendChild(cell);
      });

      tbody.appendChild(addRow);
      console.log(addRow);

      table.appendChild(tbody);
      tableContainer.appendChild(table);


      document.getElementById("conButton").addEventListener("click", function () {
        const add1 = tableContainer.querySelectorAll("input[type='text']")
        console.log(add1);
        add1.forEach(input => {
          const cell = input.parentElement;
          const cellContent = document.createElement("span");
          cellContent.textContent = input.value; // 將輸入框的值設定為單元格內容

          cell.textContent = ""; // 清空單元格內容

          cell.appendChild(cellContent); // 將單元格內容設定為 cellContent 元素
          /*
          cell.removeChild(input); // 刪除輸入框元素
          */
        });
        const addRow = document.createElement("tr");
        const checkboxCell = document.createElement("td");
        const checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.dataset.row = "checkbox";
        checkboxCell.appendChild(checkbox);
        addRow.appendChild(checkboxCell);
        headers.forEach((header, index) => {
          const cell = document.createElement("td");
          const input = document.createElement("input");
          input.type = 'text';
          input.style.width = "70px"; // 調整輸入框寬度
          cell.appendChild(input);
          addRow.appendChild(cell);
        });
        tbody.appendChild(addRow);
        console.log(addRow);
        console.log(checkboxes);
        console.log(tableContainer);

      });
      //進入表格後 自動勾選
      const checkboxes = tableContainer.querySelectorAll("input[type='checkbox'][data-row='checkbox']:not(#selectAllCheckbox)");
      let trueCount = 0;
      checkboxes.forEach(checkbox => {
        const rowData = getRowDataFromCheckbox(checkbox);
        const isSelected = selectedData.some(item => JSON.stringify(item) === JSON.stringify(rowData)); //一行一行檢查 主框是rowData
        checkbox.checked = isSelected; //假設右邊是true 則左勾選
        if (isSelected) { trueCount++; } // 如果 isSelected 為 true，計數器加一
      });
      selectAllCheckbox.checked = checkboxes.length === trueCount;
    }

    function handleConfirm() {
      // 取得新增列的所有單元格元素
      const addRowCells = addRow.querySelectorAll("td");

      // 遍歷每個單元格元素
      addRowCells.forEach(cell => {
        const input = cell.querySelector("input");
        const cellContent = document.createElement("span");
        cellContent.textContent = input.value; // 將輸入框的值設定為單元格內容

        cell.textContent = ""; // 清空單元格內容
        cell.appendChild(cellContent); // 將單元格內容設定為 cellContent 元素

        cell.removeChild(input); // 刪除輸入框元素
      });
    }
    // 從複選框中獲取對應的資料
    function getRowDataFromCheckbox(checkbox) {
      const row = checkbox.closest('tr');
      const rowData = {};

      const cells = row.querySelectorAll('td');
      const headers = Array.from(tableContainer.querySelectorAll('th')).map(th => th.textContent);

      cells.forEach((cell, index) => {
        const header = headers[index];
        const value = cell.textContent.trim(); // 移除前後空白
        if (header !== '') { // 排除空白的鍵名
          rowData[header] = value;
        }
      });
      return rowData;
    }
    const urlParams = new URLSearchParams(window.location.search);
    const jsonData = urlParams.get('jsonData');
    const selectData = JSON.parse(jsonData);
    console.log(selectData);
    getDataAndUpdateTable(selectData, 20);
  </script>
  <script>
    function spaninput() {
      const tbody = tableContainer.querySelector("tbody");
      const Row = tbody.querySelectorAll("tr");
      Row.forEach((row, index) => {
        const Td = row.querySelectorAll("td");
        Td.forEach((td, index2) => {
          if (td.querySelector("select")) {
            /*
            const select = td.querySelectorAll("select") 
            const cell = td;
            const cellContent = document.createElement("span");
            cell.innerHTML = ""; // 清空單元格內容
            cell.appendChild(cellContent); // 將單元格內容設定為 cellContent 元素
            */
          }

          else if (td.querySelector("input[type='text']")) {
            //console.log(`${index}`,`${index2}`); //列 行 
            const input = td.querySelectorAll("input[type='text']")
            input.forEach(input => {
              const cell = input.parentElement;
              const cellContent = document.createElement("span");
              if (`${index2}` == 1) {
                recordData(PlatformData, input.value);
                console.log("platform:", PlatformData);
              }
              else if (`${index2}` == 3) {
                recordData(TargetData, input.value);
                console.log("target:", TargetData);
              }
              else if (`${index2}` == 4) {
                recordData(GroupData, input.value);
                console.log("group:", GroupData);
              }
              else if (`${index2}` == 5) {
                recordData(CycleData, input.value);
                console.log("cycle:", CycleData);
              }
              else if (`${index2}` == 6) {
                recordData(SkuData, input.value);
                console.log("Sku:", SkuData);
              }
              else if (`${index2}` == 7) {
                recordData(SNData, input.value);
                console.log("SN:", SNData);
              }

              cellContent.textContent = input.value;
              cell.innerHTML = ""; // 清空單元格內容
              cell.appendChild(cellContent); // 將單元格內容設定為 cellContent 元素
            });
          }
        });
      });
    };
  </script>
</body>

</html>